<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

        <title>BIENVENUE/WELCOME</title>

        <!-- Bootstrap core CSS -->
        <link href="/MyPHPWeb/Content/bootstrap.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Custom styles for this template -->
        <link href="/MyPHPWeb/Content/carousel.css" rel="stylesheet">
        <link href="/MyPHPWeb/Content/fonts.css" rel="stylesheet">
<!--        <link href="/MyPHPWeb/Content/default.css" rel="stylesheet">-->
        <style id="holderjs-style" type="text/css"></style>
    </head>
<!-- NAVBAR
================================================== -->
  <body style="">
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Nicholas Sabelli</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li ><a href="/MyPHPWeb/SmartyViews/templates/Home.html">Home</a></li>
<!--                <li><a href="/MyPHPWeb/SmartyViews/templates/About.html">About</a></li>-->
                <li class="active"><a href="/MyPHPWeb/SmartyViews/templates/Contact.html">Contact</a></li>
<!--                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>-->
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="/MyPHPWeb/Content/Images/bluematrixcode(3)-268120.jpeg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome</h1>
<!--              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>-->
                  <p>This is Nicholas Sabelli's portfolio website please feel free to look around.</p>

<!--              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
            </div>
          </div>
        </div>
<!--          <div class="item">
            <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="/MyPHPWeb/Content/Images/business-1.jpg">
            <div class="carousel-caption">
              <h1>Projects</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>-->
        <div class="item">
<!--          <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzY2NiI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNmE2YTZhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+U2Vjb25kIHNsaWRlPC90ZXh0Pjwvc3ZnPg==">-->
          <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="/MyPHPWeb/Content/Images/DSCN0020.JPG">
          <div class="container">
            <div class="carousel-caption">
              <h1>Photography</h1>
              <p>Take a look at some of my amature photography.</p>
              <p><a class="btn btn-lg btn-primary" href="http://nicksabelliphotography.tumblr.com" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
<div class="row">
        <div class="col-lg-8">
          <h2 class="featurette-heading">Get in touch. <span class="text-muted"></span></h2>
          <p class="lead">Find me on these social media sites.</p>
        
	<ul class="contact">
                <li><a href="http://ca.linkedin.com/pub/nicholas-sabelli/92/15a/731?trk=cws-ppw-member-0-0" class="icon icon-linkedin"><span></span></a></li>
                <li><a href="https://www.facebook.com/Nicksabelli1694" class="icon icon-facebook"><span></span></a></li>
		<li><a href="https://twitter.com/Nick1649" class="icon icon-twitter"><span></span></a></li>
		<li><a href="https://plus.google.com/u/0/117505751609829192896/posts?partnerid=gplp0" class="icon icon-google-plus"><span></span></a></li>
		<li><a href="http://nicksabelliphotography.tumblr.com/" class="icon icon-tumblr"><span></span></a></li>
	</ul>
    </div>
</div>

     <hr class="featurette-divider"> 
    
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2014 Nick Sabelli · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>
</html>