<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>MTL Parking Finder</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel="stylesheet" href="/DevClub/DevClubCODE2014/Content/bootstrap.css" type="text/css"/>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="Home.html"><img src="/DevClub/DevClubCODE2014/Content/Images/MParkingLogo.png"/></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="About.html">About</a></li>
                        <li><a href="Contact.html">Contact</a></li>
                     <li id="weather"><iframe marginheight="0" marginwidth="0" name="wxButtonFrame" id="wxButtonFrame" height="90" src="http://btn.weather.ca/weatherbuttons/template5.php?placeCode=CAQC0363&category0=Cities&containerWidth=150&btnNo=&backgroundColor=blue&multipleCity=0&citySearch=0&celsiusF=C" align="top" frameborder="0" width="150" scrolling="no" allowTransparency="true"></iframe></li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <br/>
            <br/>
            <h1>Contact Us:</h1>
            <br/>
            <p>Feel free to give us feedback via email, facebook or twitter!</p>
                <br/>
                <h2>The Web Developers:</h2>
                <br/>
                <p>
                    <a href="mailto:brendanmcgarry13@gmail.com">Brendan McGarry </a>
                        ( <a href="https://twitter.com/bmacgl" target="_blank">Twitter</a>
                        | <a href="https://www.facebook.com/brendan.mcgarry13" target="_blank">Facebook</a>
                        )
                </p>
                <br/>
                <p>
                    <a href="mailto:nicksabelli@gmail.com">Nicholas Sabelli</a>
                        ( <a href="https://twitter.com/Nick1649" target="_blank">Twitter</a>
                        | <a href="https://www.facebook.com/Nicksabelli1694" target="_blank">Facebook</a>
                        )
                </p>
                <br/>
                <p>
                    <a href="mailto:shaambavy_muralitharan@hotmail.com">Shaambavy Muralitharan</a>
                        ( <a href="https://twitter.com/shaammuralii" target="_blank">Twitter</a>
                        | <a href="https://www.facebook.com/shaambavy" target="_blank">Facebook</a>
                        )
                </p>
                <br/>
                <p>
                    <a href="soph.boucher@gmail.com">Sophie Boucher </a>
                </p>
                <br/>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="/DevClub/DevClubCODE2014/Content/JavaScript/GoogleMaps.js"></script>
        
    </body>
</html>
